.logoContainer {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.navbarList {
    list-style: none;
    display: flex;
    gap: 50px;
    cursor: pointer;
}